@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(252, 242, 180);
    width: 262px;
    height: 125vh;
    font-family: 'Barlow', sans-serif;
}

.sidebar nav{
    padding: 66px;
}

.sidebar nav li{
    list-style: none;
    font-size: 24px;
    padding: 29px 0;
}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{
    /* background-color: aqua; */
    width: 85vw;
}

.container{
    display: flex;
}

.infoContainer{
    /* background-color: aquamarine; */
    height: 59vh;
    width: 80vw;
    margin: 106px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hello{
    font-size: 52px;
    font-family: 'Open Sans', sans-serif;
}

.name{
    font-size: 56px;
    font-weight: bold;
    font-family: 'Barlow', sans-serif;

}

.about{

    font-size: 32px;
    font-family: 'Quicksand', sans-serif;

}

.moreabout{
    margin-top: 32px;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.devPic img{
    height: 46vh;
    padding: 84px;
}

.devInfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn{
    margin-top: 32px;
}

.btn button{
    padding: 9px;
    border-radius: 12px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.613);
    background-color: rgb(244, 131, 83);
    font-weight: bold;
    font-family: 'Barlow', sans-serif;
    margin: 0 9px;
    cursor: pointer;
    width: 116px;
}

.btn button:hover{
    background-color: rgba(0, 0, 0, 0.613);
    color: rgb(244, 131, 83);

}


.contactForm{
    padding: 0 36px;
    padding-top: 145px;
    font-family: 'Open Sans', sans-serif;
}


.contactForm h1{
    font-family: 'Barlow', sans-serif;
    padding: 12px 0;

}

.contactForm form div{
    padding: 12px 0 0 0;
    display: flex;
    flex-direction: column;
}

.contactForm form div input{
    width: 25vw;
    border-radius: 5px;
    margin: 6px 0;
    padding: 3px;
}

#emailHelp{
    font-size: 10px;
    color: rgba(255, 136, 0, 0.845);
    margin: 0px 1px;
    padding: 0 0 0 0;
}


#form-check{
    flex-direction: row;
}

#form-check input{
    width: 25px;
    margin: 3px 0;
}

.social{
    display: flex;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
}

.social a{
    text-decoration: none;
    color: black;
}


.instagram{
    display: flex;
    flex-direction: row;
    margin: 19px;
    justify-self: center;
}

.linkedIn{
    display: flex;
    flex-direction: row;
    margin: 19px;
}

.github{
    display: flex;
    flex-direction: row;
    margin: 19px;
}

.instLogo img{
    width: 32px;
}

.inst{
    padding: 5px;
}

.linkedLogo img{
    width: 32px;
}

.linked{
    padding: 5px;
}

.gitLogo img{
    width: 46px;
}

.git{
    padding: 13px 5px;
    
}
